@font-face {
    font-family: "get schwifty";
    src: url("get_schwifty.ttf") format('truetype');
}

.container-fluid{
    margin-top: 30px;
    padding-right: 5%;
    padding-left: 5%;
}

body {
    background-image: url("universe.jpg");
}

#temporada-label {
    color: white;
}

h1 {
    font-family: "get schwifty";
    font-size: 55pt;
    color: #08acc6;
    text-shadow: 4px 2px 6px #79b35a;
}

.rick_and_morty {
    position: fixed;
    bottom: 0;
    left: -20px;
    width: 400px;
}

.areaGrafico {
    background-color: #0000006b;
}
